{% if page_obj.has_other_pages %}
  <div class="flex justify-center max-w-full">
    <nav class="shadow-md drop-shadow-md">
      <ul class="inline-flex -space-x-px text-base h-10">
        {% if page_obj.has_previous %}
          <li>
            <a href="?page=1"
               class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Primeira</a>
          </li>
          <li>
            <a href="?page={{ page_obj.previous_page_number }}"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Anterior</a>
          </li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
          {% if page_number <= page_obj.number|add:2 and page_number >= page_obj.number|add:-2 %}
            <li>
              <a href="?page={{ page_number }}"
                 {% if page_obj.number == page_number %}aria-current="page"{% endif %}
                 class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700  dark:border-gray-700 dark:text-gray-400 dark:hover:text-white
                        {% if page_obj.number == page_number %}
                          dark:bg-gray-700 dark:text-white
                        {% else %}
                          dark:bg-gray-800 dark:hover:bg-gray-700
                        {% endif %}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Próxima</a>
          </li>
          <li>
            <a href="?page={{ page_obj.paginator.num_pages }}"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Última</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
