{% extends "layouts/main.html" %}
{% load input_tags %}
{% block title %}
  Finance | Dashboard
{% endblock title %}
{% block content %}
  <main class="bg-white dark:bg-gray-900">
    <div class="flex w-full min-h-[calc(100dvh-64px)] p-4">
      <div class="flex flex-col flex-1">
        <div class="flex flex-col gap-4 my-4 sm:flex-row">
          {% include "partials/transactions/_currency_card.html" with title="Saldo" tb_color="text-blue-500" value=profit_metrics.profit_total %}
          {% include "partials/transactions/_currency_card.html" with title="Receitas" tb_color="text-green-500" value=profit_metrics.revenues_total %}
          {% include "partials/transactions/_currency_card.html" with title="Despesas" tb_color="text-red-500" value=profit_metrics.expenses_total %}
        </div>
        <div class="flex flex-col gap-4 w-full h-full my-4 xl:flex-row">
          <div class="flex flex-col items-center justify-around flex-1 gap-4 mt-4 md:flex-row xl:justify-center xl:mt-0">
            {% include "partials/transactions/_currency_chart.html" %}
            {% include "partials/transactions/_profit_chart.html" %}
          </div>
          <div class="flex flex-col flex-1 gap-4 order-first xl:items-center xl:order-last 2xl:items-stretch">
            {% include "partials/transactions/_currency_table.html" with transactions=transactions %}
            {% include "partials/_pagination.html" with page_obj=page_obj %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
{% block asides %}
  {% if messages %}
    <div id="toast-container" class="fixed top-4 right-4 space-y-24">
      {% for message in messages %}
        {% include "partials/_toast_danger.html" with message=message id=forloop.counter %}
      {% endfor %}
    </div>
  {% endif %}
  {% include "partials/transactions/_new_transaction_modal.html" with new_transaction_form=new_transaction_form %}
{% endblock asides %}
{% block script %}
  {% include "scripts/_currency_chart_scripts.html" with revenues_percentage=currency_percentages.revenues_percentage expenses_percentage=currency_percentages.expenses_percentage %}
  {% include "scripts/_profit_chart_scripts.html" with dates=weekly_xip_relationship.dates metrics=weekly_xip_relationship.metrics %}
{% endblock script %}
