{% extends "layouts/main.html" %}
{% load input_tags %}
{% block title %}
  Finance | Transações
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-6">
    {% include "partials/transactions/_currency_card_group.html" with balance_metrics=balance_metrics %}
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-3 md-lg:flex-row md-lg:items-center md-lg:justify-between">
        <form class="w-full md-lg:max-w-[400px]">
          <label for="id_search"
                 class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="size-5 text-gray-500 dark:text-gray-400"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="search"
                   id="id_search"
                   name="transaction_search"
                   class="border border-gray-300 p-3 ps-11 w-full rounded-lg text-sm text-gray-900 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Pesquisar transação" />
            <button type="submit"
                    class="p-1.5 rounded-lg absolute end-2.5 top-1/2 -translate-y-1/2 bg-blue-700 font-medium text-white text-sm hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Enviar
            </button>
          </div>
        </form>
        <div class="flex justify-end order-first md-lg:order-last">
          <a href="{% url 'transaction_create' %}"
             class="p-3 max-w-fit rounded-lg bg-blue-600 text-white text-sm font-medium hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
            Adicionar Transação
          </a>
        </div>
      </div>
      {% include "partials/transactions/_transactions_table.html" %}
      <div class="flex justify-center">{% include "partials/common/_pagination.html" with page_obj=page_obj %}</div>
    </div>
  </div>
{% endblock content %}
