<div class="relative overflow-x-auto shadow drop-shadow rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-3 w-1/2">Categoria</th>
        <th scope="col" class="p-3 w-1/6">Tipo</th>
        <th scope="col" class="p-3 w-1/6">Quantia</th>
        <th scope="col" class="p-3 w-1/6">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr class="bg-white border-b last:border-0 dark:bg-gray-800 dark:border-gray-700">
          <th scope="row"
              class="p-3 w-1/2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ transaction.category }}
          </th>
          <td class="p-3 w-1/6">
            {% if transaction.kind == "RV" %}
              Receita
            {% else %}
              Despesa
            {% endif %}
          </td>
          <td class="p-3 w-1/6">{{ transaction.amount }}</td>
          <td class="flex gap-3 p-3 w-1/6">
            <a href="{% url 'transaction_update' transaction.slug %}"
               class="border border-blue-500 p-3 font-medium rounded-lg text-sm text-center group hover:bg-blue-600 hover:text-white hover:cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 dark:border-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-900">
              <svg class="size-5 text-blue-500 dark:text-blue-500 group-hover:text-white dark:group-hover:text-white"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24"
                   fill="currentColor"
                   aria-hidden="true">
                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
              </svg>
            </a>
            <a href="{% url 'transaction_delete' transaction.slug %}"
               class="border border-red-500 p-3 font-medium rounded-lg text-sm text-center group hover:bg-red-600 hover:text-white hover:cursor-pointer focus:ring-4 focus:outline-none focus:ring-red-300 dark:border-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
              <svg class="size-5 text-red-500 dark:text-red-500 group-hover:text-white dark:group-hover:text-white"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24"
                   fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd" />
              </svg>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
